@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Delta State Polytechnic<br />
    Ozoro, Delta State, NG,<br/>
    <abbr title="Phone">P:</abbr>
    0806-9758-548<br />
</address>

<address>
    <strong>James:</strong>   <a href="mailto:Support@example.com">james@yahoo.com</a><br />
    <strong>Dafe:</strong> <a href="mailto:Marketing@example.com">dafe@gmail.com</a>
</address>