@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2 class="lead"> Grants e-Wallet Management System</h2>
    <h4>This is a web application built in Partial fulfilment of the award of the HND in Computer Science in the Delta State Polytechnic, Ozoro, Delta State.</h4>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Model-View-Controller</h2>
        <p>
            The project was built using HTML, CSS and JavaScript. These are all features of the new programming paradigm, ASP.NET MVC, which is built on the ASP.NET platform.
           
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <h3><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></h3>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <h3><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></h3>
    </div>
</div>